@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


@import "tailwindcss";

body {
  background-color: #F4EFEB;
}

.font-playfair {
  font-family: "Playfair", serif;
}

.font-rouge {
  font-family: "Imperial Script", cursive;
}

.font-number {
  font-family: "Dancing Script", cursive;
}


/*! banner arrow left to right  */

@keyframes bounceX {

  0%,
  100% {
    transform: -translateX(5);
  }

  50% {
    transform: translateX(10px);
  }
}

.animate-bounceX {
  animation: bounceX 1.5s infinite ease-in-out;
}

/* -------------------------------------------------- */